write a program to demonstrate number data types in phython

In [2]:
x = 30     #int
print(x)
print(type(x))
x = 20.56 #float
print(x)
print(type(x))
x = 6j        #complex
print(x)
print(type(x))

30
<class 'int'>
20.56
<class 'float'>
6j
<class 'complex'>

In [4]:
#String
x = "rcpit college"   
print(x)
print(type(x))

rcpit college
<class 'str'>

In [8]:
x = [ "shirpur", "amlner"]       #list
print(x)
print(type(x))

['shirpur', 'amlner']
<class 'list'>

In [10]:
x = ("Python", "c", "c++")       #tuple
print(x)
print(type(x))

('Python', 'c', 'c++')
<class 'tuple'>

In [12]:
x = {"name" : "anu", "sam" : 36}  #dict
print(x)
print(type(x))

{'name': 'anu', 'sam': 36}
<class 'dict'>

In [13]:
x = True  #bool
print(x)
print(type(x))
x = b"Hello"  #bytes
print(x)
print(type(x))

True
<class 'bool'>
b'Hello'
<class 'bytes'>

In [14]:
x = {"dl", "python", "ml"}   #set
print(x)
print(type(x))
x = frozenset({"opencv", "pandas", "numpy"}) #frozenset
print(x)
print(type(x))

{'python', 'ml', 'dl'}
<class 'set'>
frozenset({'opencv', 'pandas', 'numpy'})
<class 'frozenset'>